
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	flex-wrap: wrap;
  height: 450px;
}

.item-1 {
  flex: 1;
  align-self:flex-start;
}

.item-2 {
  flex: 2;
}


